{% extends 'base.html' %}

{% block title %}{{dishes.0.category}}{% endblock title %}

{% block body %}
{% load static %}

<div  class="back-button my-1 mx-2" >
    <a style="text-decoration :none; color:inherit;" href="/{{cat}}"> &#8592 Go to Back</a>
</div>

<div class="row row-cols-1 row-cols-md-3 my-3 mx-5 g-4">



  {% for i in dishes %}
  <div class="col my-4">
    <div class="card h-100">
      <img src="/media/{{i.image}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{i.dish_name}}</h5>
        <p class="card-text">{{i.desc}}</p>
      </div>
    </div>
  </div>
  {% endfor %}


</div>




{% endblock body %}